# ===== 构建输出 =====
target/
!.mvn/wrapper/maven-wrapper.jar

# ===== IDE =====
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.idea/
*.iws
*.iml
*.ipr
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/

# ===== 敏感文件 =====
*.secret
*.pem
*.key

# ===== 操作系统 =====
.DS_Store
Thumbs.db
*.swp

# ===== 日志 =====
*.log
